body{
    margin: 0;
    padding: 0;
    background-color: #9e9e9e;
    box-sizing: border-box;
}
.container{
    display:flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
.score{
    margin: 5vh;
}

.buttonContainer{
    margin-top: 20px;
}

.gameLogger{
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #dc7027;
    height: 30px;
    text-shadow: rgba(1, 12, 46, 100) 2px 2px 5px;
    font-size: 25px;
}

.gameWinner{
    font-size: 40px;
    font-weight:900;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #5C5F58;
    height: 100px;
    padding: 20px;
}

.scoreCounter {
    color: #565656;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: inline-flex;
}

.userScore {
    margin: 20px;

}

.computerScore {
    margin: 20px;

}

button {
    background-color: rgb(179, 99, 182);
    outline: none;
    border: none;
    color: white;
    padding: 20px 30px;
    width: 8rem;
    border-radius: 8px;
    text-transform: uppercase;
}

button:hover {
    background-color: rgb(59, 100, 83);

}